<configuration>
	<connectionStrings>
		<!--<add name="Fanatafics" connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=fanatafics;Data Source=(local)\BWAITES"/>-->
    <add name="Fanatafics" connectionString="Data Source=tcp:s03.winhost.com;Initial Catalog=DB_12359_football;User ID=DB_12359_football_user;Password=racecar;Integrated Security=False;"/>

  </connectionStrings>
</configuration>